<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/ellekasai/" target="_blank">@ellekasai</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/ellekasai/" target="_blank">@ellekasai</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ellekasai" target="_blank">linkedin.com/in/ellekasai</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">ellekasai.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:elle.kasai@gmail.com" target="_blank">elle.kasai@gmail.com</a></p>